<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
    <link rel="styleSheet"  href="/css/navbar.css">
</head>
<body>
    <div class="navbar">
        <div class="navbar-logo">
            <a href="/" id="navbar-image"><i class="fa-regular fa-compass"></i></a>
        </div>
        <div class="routes">
            <a href="/">Home</a>
            <a href="">All Listing</a>
            <a href="/listings/new">Add New Listing</a>
        </div>
    </div>
</body>
</html>