<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/css/signUp.css">

<div class="main-container3">
    <form method="POST" action="/signup">
<div class="signUp-container">
    <h2>SignUp</h2>
<div class="inputtss">
    <label for="username">Name :</label>
<input  name="username" placeholder="Enter name..." type="text" required/>
</div>
<div class="inputtss">
<label for="email">Email :</label>
<input  name="email" placeholder="Enter email..." type="email" required/>
</div>
<div class="inputtss">
<label for="password">Password :</label>
<input  name="password" placeholder="Enter paasword..." type="password" required/>
</div>

<button>SignUp</button>
</form>
</div>
</div>